.converter{
	border-style: solid;
	border-radius: 5px;
	max-width: 20em;
	padding-left: 1em;
	padding-right: 0.5em;
	margin: 1em;
	display: inline-block;
	
}

.converter2{
	border-style: solid;
	border-radius: 5px;
	max-width: 20em;
	padding-left: 1em;
	padding-right: 0.5em;
	margin: 1em;
	float: center;
	display: inline-block;
}

.converter3{
	border-style: solid;
	border-radius: 5px;
	max-width: 20em;
	padding-left: 1em;
	padding-right: 0.5em;
	margin: 1em;
	display: inline-block;
}


.Container{
	width: 100%;
    border: 1px solid black;
}

.convertercontainer{
	width: 100%;
}



#Amount, #ConvertedAmt, #Amount2, #ConvertedAmt2, #Amount3, #ConvertedAmt3{
    border-radius: 5px; 
	height : 2.5em;
	font-size: 20px;
}

#Currency1, #Currency2,#Currency3, #Currency4 ,#Currency5, #Currency6{
	border-radius: 5px; 
	font-size: 1.75em;
}

header {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
    padding-bottom: 0.5em;
    font-size: 2em;
}

footer {
    padding: 1em;
    color: white;
    background-color: grey;
    clear: left;
    text-align: center;
    padding-bottom: 0.5em;
    font-size: 0.75em;
}


h1{
	font-family: Helvetica Neue, Helvetica;
}

p{
	font-family: Helvetica Neue, Helvetica;
}
